.login_container {
  margin-top: 12rem;
}
.login_container p {
  font-size: 18px;
  display: block;
  width: 30rem;
  margin: 0 auto 1rem;
  color: #626262;
}
.login_form li:first-child {
  margin-bottom: 1rem;
}
.login_form .inputbox {
  font-size: 18px;
  width: 30rem;
  padding: 9px 15px;
  margin: 0 auto;
  display: block;
}
.login_btn {
  width: 30rem;
  margin: 0 auto;
  display: block;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  background: #BDBDBD;
}
@media all and (min-width: 1025px) {
  .login_container {
    margin-top: 24rem;
  }
}
